!!! XML
!!!
%html
  %head
    %title= "#{@tags.title_prefix}vimage"
    %base{href: base_url}
    %script{type: 'text/javascript', src: './js/zepto.js'}
    %script{type: 'text/javascript', src: './js/vimage.js'}
    %link{href: "./images.rss#{@tags.query_params}" , rel: 'alternate', title: 'RSS', type: 'application/xml'}
%body
  %a{href: './'}
    %h1 vimage
  != yield
