!!! XML
!!!
%html
  %head
    %title= "#{@tags.title_prefix}vimage"
    %script{type: 'text/javascript', src: '/js/zepto.js'}
    %script{type: 'text/javascript', src: '/js/vimage.js'}
    %link{href: '/images.rss' + (@tags ? "?tags=#{@tags.join(Image.tags_separator)}" : ''), rel: 'alternative', title: 'RSS', type: 'application/xml'}
%body
  %a{href: '/'}
    %h1 vimage
  != yield
